.triggered-component, .triggered-container {
    position:relative;
}

.triggered-button-show {
    position:absolute;
}

.triggered-button-hide {
    display:block;
    position:absolute;
    right:-(@icon-size/2);
    top:-(@icon-size/2);
}

.triggered-hidden {
    visibility: hidden;
}