{{! Maintainers - Daryl Hedley}}
<a href="#" class='triggered-button-hide' data-triggered-id="{{_id}}">{{#if triggered.hideButtonText}}<span>{{{triggered.hideButtonText}}}</span>{{else}}<span class='icon icon-cross'></span>{{/if}}</a>
