{{! Maintainers - Daryl Hedley}}
<a href="#" class='triggered-button-show' data-id="{{_id}}">{{#if triggered.showButtonText}}<span>{{{triggered.showButtonText}}}</span>{{else}}<div class='icon'></div>{{/if}}</a>