{{! Maintainers - Daryl Hedley}}
<button role="button" tabindex="0" class='triggered-button-hide' data-triggered-id="{{_id}}">{{#if _triggered.hideButtonText}}<span>{{{_triggered.hideButtonText}}}</span>{{else}}<span class='icon icon-cross'></span>{{/if}}</button>
