{{! Maintainers - Daryl Hedley}}
<a href="#" class='triggered-button-show' data-id="{{_id}}">{{#if triggered.showButtonText}}<span>{{{triggered.showButtonText}}}</span>{{else}}<span class='icon icon-plus'></span>{{/if}}</a>